In [ ]:
!unzip data02\ \(1\).zip

Archive:  data02 (1).zip
  inflating: train.csv
  inflating: submission_sample.csv
  inflating: test.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

# train 데이터확인

In [ ]:
train.info()
print(train.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB
inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
dtype: int64

# test 데이터 확인

In [ ]:
test.info()
print(test.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             127 non-null    int64
 1   OC                  0 non-null      float64
 2   sido                127 non-null    object
 3   sgg                 127 non-null    int64
 4   openDate            126 non-null    float64
 5   bedCount            119 non-null    float64
 6   instkind            125 non-null    object
 7   revenue1            125 non-null    float64
 8   salescost1          125 non-null    float64
 9   sga1                125 non-null    float64
 10  salary1             125 non-null    float64
 11  noi1                125 non-null    float64
 12  noe1                125 non-null    float64
 13  interest1           125 non-null    float64
 14  ctax1               125 non-null    float64
 15  profit1             125 non-null    float64
 16  liquidAsset1        125 non-null    float64
 17  quickAsset1         125 non-null    float64
 18  receivableS1        125 non-null    float64
 19  inventoryAsset1     125 non-null    float64
 20  nonCAsset1          125 non-null    float64
 21  tanAsset1           125 non-null    float64
 22  OnonCAsset1         125 non-null    float64
 23  receivableL1        125 non-null    float64
 24  debt1               125 non-null    float64
 25  liquidLiabilities1  125 non-null    float64
 26  shortLoan1          125 non-null    float64
 27  NCLiabilities1      125 non-null    float64
 28  longLoan1           125 non-null    float64
 29  netAsset1           125 non-null    float64
 30  surplus1            125 non-null    float64
 31  revenue2            125 non-null    float64
 32  salescost2          125 non-null    float64
 33  sga2                125 non-null    float64
 34  salary2             125 non-null    float64
 35  noi2                125 non-null    float64
 36  noe2                125 non-null    float64
 37  interest2           125 non-null    float64
 38  ctax2               125 non-null    float64
 39  profit2             125 non-null    float64
 40  liquidAsset2        125 non-null    float64
 41  quickAsset2         125 non-null    float64
 42  receivableS2        125 non-null    float64
 43  inventoryAsset2     125 non-null    float64
 44  nonCAsset2          125 non-null    float64
 45  tanAsset2           125 non-null    float64
 46  OnonCAsset2         125 non-null    float64
 47  receivableL2        125 non-null    float64
 48  debt2               125 non-null    float64
 49  liquidLiabilities2  125 non-null    float64
 50  shortLoan2          125 non-null    float64
 51  NCLiabilities2      125 non-null    float64
 52  longLoan2           125 non-null    float64
 53  netAsset2           125 non-null    float64
 54  surplus2            125 non-null    float64
 55  employee1           119 non-null    object
 56  employee2           112 non-null    object
 57  ownerChange         112 non-null    object
dtypes: float64(51), int64(2), object(5)
memory usage: 57.7+ KB
inst_id                 0
OC                    127
sido                    0
sgg                     0
openDate                1
bedCount                8
instkind                2
revenue1                2
salescost1              2
sga1                    2
salary1                 2
noi1                    2
noe1                    2
interest1               2
ctax1                   2
profit1                 2
liquidAsset1            2
quickAsset1             2
receivableS1            2
inventoryAsset1         2
nonCAsset1              2
tanAsset1               2
OnonCAsset1             2
receivableL1            2
debt1                   2
liquidLiabilities1      2
shortLoan1              2
NCLiabilities1          2
longLoan1               2
netAsset1               2
surplus1                2
revenue2                2
salescost2              2
sga2                    2
salary2                 2
noi2                    2
noe2                    2
interest2               2
ctax2                   2
profit2                 2
liquidAsset2            2
quickAsset2             2
receivableS2            2
inventoryAsset2         2
nonCAsset2              2
tanAsset2               2
OnonCAsset2             2
receivableL2            2
debt2                   2
liquidLiabilities2      2
shortLoan2              2
NCLiabilities2          2
longLoan2               2
netAsset2               2
surplus2                2
employee1               8
employee2              15
ownerChange            15
dtype: int64

In [ ]:
str_train=train.select_dtypes(include='object').columns
str_test=test.select_dtypes(include='object').columns
print(str_train)
print(str_test)

Index(['OC', 'sido', 'instkind', 'ownerChange'], dtype='object')
Index(['sido', 'instkind', 'employee1', 'employee2', 'ownerChange'], dtype='object')

## test 데이터의  employee1, employee2 를 folat형으로 변환

In [ ]:
test['employee1']=test['employee1'].fillna(-9999)
test['employee2']=test['employee2'].fillna(-9999)

In [ ]:
test['employee1']= test['employee1'].astype('str').str.replace(",","")
test['employee2']= test['employee2'].astype('str').str.replace(",","")

In [ ]:
test['employee1']=test['employee1'].astype(float)
test['employee2']=test['employee2'].astype(float)

In [ ]:
str_train=train.select_dtypes(include='object').columns
str_test=test.select_dtypes(include='object').columns
print(str_train)
print(str_test)

Index(['OC', 'sido', 'instkind', 'ownerChange'], dtype='object')
Index(['sido', 'instkind', 'ownerChange'], dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [ ]:
train[str_train]=train[str_train].fillna("Notsure")
test[str_test]=test[str_test].fillna("Notsure")

In [ ]:
number_train=train.columns.difference(str_train)
number_test=test.columns.difference(str_test)
print(number_train)
print(number_test)

Index(['NCLiabilities1', 'NCLiabilities2', 'OnonCAsset1', 'OnonCAsset2',
       'bedCount', 'ctax1', 'ctax2', 'debt1', 'debt2', 'employee1',
       'employee2', 'inst_id', 'interest1', 'interest2', 'inventoryAsset1',
       'inventoryAsset2', 'liquidAsset1', 'liquidAsset2', 'liquidLiabilities1',
       'liquidLiabilities2', 'longLoan1', 'longLoan2', 'netAsset1',
       'netAsset2', 'noe1', 'noe2', 'noi1', 'noi2', 'nonCAsset1', 'nonCAsset2',
       'openDate', 'profit1', 'profit2', 'quickAsset1', 'quickAsset2',
       'receivableL1', 'receivableL2', 'receivableS1', 'receivableS2',
       'revenue1', 'revenue2', 'salary1', 'salary2', 'salescost1',
       'salescost2', 'sga1', 'sga2', 'sgg', 'shortLoan1', 'shortLoan2',
       'surplus1', 'surplus2', 'tanAsset1', 'tanAsset2'],
      dtype='object')
Index(['NCLiabilities1', 'NCLiabilities2', 'OC', 'OnonCAsset1', 'OnonCAsset2',
       'bedCount', 'ctax1', 'ctax2', 'debt1', 'debt2', 'employee1',
       'employee2', 'inst_id', 'interest1', 'interest2', 'inventoryAsset1',
       'inventoryAsset2', 'liquidAsset1', 'liquidAsset2', 'liquidLiabilities1',
       'liquidLiabilities2', 'longLoan1', 'longLoan2', 'netAsset1',
       'netAsset2', 'noe1', 'noe2', 'noi1', 'noi2', 'nonCAsset1', 'nonCAsset2',
       'openDate', 'profit1', 'profit2', 'quickAsset1', 'quickAsset2',
       'receivableL1', 'receivableL2', 'receivableS1', 'receivableS2',
       'revenue1', 'revenue2', 'salary1', 'salary2', 'salescost1',
       'salescost2', 'sga1', 'sga2', 'sgg', 'shortLoan1', 'shortLoan2',
       'surplus1', 'surplus2', 'tanAsset1', 'tanAsset2'],
      dtype='object')

In [ ]:
train[number_train]=train[number_train].fillna(-9999)
test[number_test]=test[number_test].fillna(-9999)

In [ ]:
train['OC']=encoder.fit_transform(train['OC'])
train['sido']=encoder.fit_transform(train['sido'])
train['instkind']=encoder.fit_transform(train['instkind'])
train['ownerChange']=encoder.fit_transform(train['ownerChange'])

In [ ]:
test['sido']=encoder.fit_transform(test['sido'])
test['instkind']=encoder.fit_transform(test['instkind'])
test['ownerChange']=encoder.fit_transform(test['ownerChange'])

In [ ]:
test['OC']

0     -9999.0
1     -9999.0
2     -9999.0
3     -9999.0
4     -9999.0
        ...
122   -9999.0
123   -9999.0
124   -9999.0
125   -9999.0
126   -9999.0
Name: OC, Length: 127, dtype: float64

In [ ]:
test=test.drop(labels='OC',axis=1)

In [ ]:
x_train=train.drop(labels='OC',axis=1)
y_train=train['OC']
x_test=test

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

x_train_std=scaler.fit_transform(x_train)
x_test_std=scaler.fit_transform(x_test)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

svm=SVC(random_state=1)
tree=DecisionTreeClassifier(criterion='entropy',random_state=1)

In [ ]:
x_train.isna().sum()

inst_id               0
sido                  0
sgg                   0
openDate              0
bedCount              0
instkind              0
revenue1              0
salescost1            0
sga1                  0
salary1               0
noi1                  0
noe1                  0
interest1             0
ctax1                 0
profit1               0
liquidAsset1          0
quickAsset1           0
receivableS1          0
inventoryAsset1       0
nonCAsset1            0
tanAsset1             0
OnonCAsset1           0
receivableL1          0
debt1                 0
liquidLiabilities1    0
shortLoan1            0
NCLiabilities1        0
longLoan1             0
netAsset1             0
surplus1              0
revenue2              0
salescost2            0
sga2                  0
salary2               0
noi2                  0
noe2                  0
interest2             0
ctax2                 0
profit2               0
liquidAsset2          0
quickAsset2           0
receivableS2          0
inventoryAsset2       0
nonCAsset2            0
tanAsset2             0
OnonCAsset2           0
receivableL2          0
debt2                 0
liquidLiabilities2    0
shortLoan2            0
NCLiabilities2        0
longLoan2             0
netAsset2             0
surplus2              0
employee1             0
employee2             0
ownerChange           0
dtype: int64

# randomforest

In [ ]:
randomforest=RandomForestClassifier(random_state=1)
print(randomforest.get_params().keys())
params_randomforest={'max_depth':[5,7,9,11],
                 'n_estimators':[100,500,700],
                 }


grid_randomforest=GridSearchCV(estimator=randomforest,
                           param_grid=params_randomforest,
                           cv=10,
                           scoring='accuracy')

grid_randomforest.fit(x_train_std,y_train)

dict_keys(['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=1,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [5, 7, 9, 11],
                         'n_estimators': [100, 500, 700]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [ ]:
predict=grid_randomforest.predict(x_test_std)
predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
result=pd.read_csv("submission_sample.csv")

for i in range(len(result)):
  result['OC']=predict
result

     inst_id  OC
0          2   1
1          5   1
2          6   1
3          8   1
4         10   1
..       ...  ..
122      424   1
123      425   1
124      429   1
125      430   1
126      431   1

[127 rows x 2 columns]

In [ ]:
result.to_csv("result.csv",index=False)